/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "~leaflet/dist/leaflet.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.main-content{
    width: 100%;
    height: 100vh;
    display: flex;

    .side-left{
        width: 20%;
        height: 100vh;
    }

    .side-right{
        width: 80%;
        height: 100vh;
    }
}

.shadow-box{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.texto-violeta{
    color: #3c096c;
}

.texto-negro-50{
    color: #2c2a4a;
}

.header-page{
    font-size: 22px;
    font-weight: 200;
    
}

.cuadricula{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;

    .columna-01{
        width: 60%;
        height: auto;
    }

    .columna-02{
        width: 40%;
        height: auto;
    }
}
